/* Document formatting */  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
  }
  
 .form-label {
    font-size: 28px;
    font-weight: bold;
  }
  
  .date {
    font-weight: bold;
  }
  
  p {
    font-size: 20px;
  }
  
  /* Left and right side containers */
  .left-side-container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
  }

  .right-side-container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 100%;
  }

  /* Search and history section */
  #form-heading {
    padding: 20px;
  }
  
  #search-form {
    margin-bottom: 10px;
  }
  
  .weather-search {
    height: 100px;
  }

  #search-input {
    margin-bottom: 10px; 
  }
  
.search-div {
    width: 100%;
}

  #search-button {
    margin-top: 15px;
    padding: 10px; 
    width: 100%;
  }

  .history-button {
    align-items: left;
    text-align: center;
    margin-bottom: 5px;
  }
  
  #history {
    width: 100%;
  }

  .form-input {
    width: 100%; 
  }
  
  .list-group-item {
    width: 100%;
    text-align: left;
  }
  
  .weather-search {
    text-align: center;
  }
  
  /* Today card styling */
  .today-card-image {
    height: 100px;
    width: 100px;
  }
  
  .today-card {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  /* Forecast card styling */
  .forecast-card-image {
    height: 50px;
    width: 50px;
  }
  
  .forecast-card {
    align-items: center;
    justify-content: center;
    max-width: 20%;
  }


  .today-card {
    background-color: grey;
    border: ;
    border-color: ;
  }

  .forecast-card {
    background-color: white;
    border: ;
    border-color: ;
  }